body{
    width: 100%;
    height: auto;
    margin: 0;
    background: linear-gradient(45deg, #153576, #4B77B5, #AFC6D0);
    color: #f5f6f7;
    font-family: monospace;
    font-size: 16px;
}
label{
    display: block;
    margin: 0.5rem 0;
}
h1, p{
    margin: 1em auto;
    text-align: center;
}
form{
    margin: 0 auto;
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    padding-bottom: 2em;
}
fieldset{
    border: 0;
    padding: 2rem 0;
}

input, textarea, select {
  margin: 10px 0 0 0;
  width: 100%;
  min-height: 2em;
}
.inline{
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}
input, textarea{
    background-color: #2D142C;
    border: 1px solid #2D142C;
    color: #FFFFFF;
}
input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em  auto 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #EE4540;
    border-color: #801336;
    min-width: 300px;
}
input[type="file"]{
    padding: 1px 2px;
}
a{
    color: #DFDFE2;
}
hr {
    height: 2px;
    background-color: #801336;
    border-color: #801336;
}
nav{
align-items: center;
}